<% provide(:title, "新規登録") %>
<h2 class="mt-5 text-center">KEIKOBAにようこそ！</h2>
<div class="signup-form">
  <%= form_with(model: @user, local: true, class: "form-horizontal") do |f| %>
    <div class="row">
      <div class="col-8 offset-4">
        <h3>KEIKOBAに登録</h3>
      </div>
    </div>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group row">
      <div class="col-form-label col-4">
        <%= f.label :name, "アカウント名"%>
      </div>
      <div class="col-8">
        <%= f.text_field :name, class: "form-control", placeholder: "KEIKOBAさん" %>
      </div>  	
    </div>
    <div class="form-group row">
      <div class="col-form-label col-4">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="col-8">
        <%= f.email_field :email, class: "form-control", placeholder: "mail@keikoba.com" %>
      </div>  	
      </div>
      <div class="form-group row">
        <div class="col-form-label col-4">
          <%= f.label :password, "パスワード" %>
        </div>
        <div class="col-8">
          <%= f.password_field :password, class: "form-control", placeholder: "6文字以上" %>
        </div>  	
      </div>
      <div class="form-group row">
        <div class="col-form-label col-4">
          <%= f.label :password_confirmation, "パスワード再入力" %>
        </div>
        <div class="col-8">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "" %>
        </div>  	
      </div>
      <div class="form-group row">
        <div class="col-8 offset-4">
          <%= f.submit "登録する", class: "btn btn-primary btn-lg" %>
        </div>  
      </div>
    <% end %>
	<div class="text-center"><a href="#">ログインはこちら</a></div>
</div>
