<div class="col-md-4 mb-3">
  <div class="card">
    <div class="card-img-top">
      <% if newest.images.attached? %>
        <%= image_tag newest.display_image, class: "img-fluid" %>
      <% else %>
        <img src="..." class="" alt="...">
      <% end %>
    </div>
    <div class="card-body">
      <%= link_to newest.name, newest, class: "h4 card-title text-dark", style: "text-decoration: none" %>
      <div class="row mt-3">
        <div class="col-12">
          <%= render 'shared/favorites', post: newest  %>
          <span class="px-3"><span>
          <%= render 'shared/bookmarks', post: newest  %>
        </div>
      </div>
      <div class="pt-3 row">
        <div class="col-4">
          <%= link_to gravatar_for(newest.user, size: 50), newest.user %>
        </div>
        <div class="col">
          <%= link_to newest.user.name, newest.user %>
          <p class="text-secondary"><%= time_ago_in_words(newest.created_at) %>前</p>
        </div>
      </div>
    </div>
  </div>
</div>
