<header class="mt-5">
  <div class="container flex-container">
    <div class="row">
      <div class="col-8">
        <h2><%= @post.name %></h2>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-primary">編集する</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <%= render 'shared/favorites', post: @post %>
        <span class="px-3"><span>
        <%= render 'shared/bookmarks', post: @post %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= gravatar_for @post.user, size: 24 %>
        <%= @post.user.name %>
      </div>
    </div>
  </div>
</header>